:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #171916;

    --vp-c-gray: #8e8e93;
    --vp-c-green: #96c623;
    --vp-c-green-light: #b0d45a;
    --vp-c-green-lighter: #cae291;
    --vp-c-green-dark: #779e1b;
    --vp-c-green-darker: #597614;
    --vp-c-green-dimm-1: rgba(150, 198, 35, 0.5);
    --vp-c-green-dimm-2: rgba(150, 198, 35, 0.25);
    --vp-c-green-dimm-3: rgba(150, 198, 35, 0.05);

    --vp-code-tab-active-bar-color: #ff6442;
/*    --vp-c-brand: #171916;
    --vp-c-brand-light: #323232;
    --vp-c-brand-lighter: #323232;*/
    --vp-c-brand: var(--vp-c-green-dark);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);

    --vp-c-text-1: #454545;
    --vp-c-text-dark-1: rgba(255, 255, 255, .87);
    --vp-button-alt-bg: hwb(0 89% 11%);
    /*--vp-c-bg-alt: #f9f9f9;*/

    --vp-font-family-base: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Noto Sans',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: ui-monospace,system-ui,-apple-system,BlinkMacSystemFont,'SF Mono','Inconsolata','Menlo','Courier',monospace;
    --vp-code-font-size: 15px;

    --vp-c-text-code: rgb(30, 30, 30);
    --vp-c-mute: rgba(180, 212, 238, 0.2);
    --vp-custom-block-info-code-bg: var(--vp-c-mute);
    --vp-custom-block-code-font-size: var(--vp-code-font-size);

    --vp-button-sponsor-border: var(--vp-button-alt-border);
    --vp-button-sponsor-text: var(--vp-button-alt-text);
    --vp-button-sponsor-bg: #FFFFFF;
    --vp-button-sponsor-hover-border: var(--vp-button-alt-hover-border);
    --vp-button-sponsor-hover-text: var(--vp-button-alt-hover-text);
    --vp-button-sponsor-hover-bg: #FFFFFF;
/*    --vp-button-sponsor-active-border;
    --vp-button-sponsor-active-text;
    --vp-button-sponsor-active-bg;*/

    --vp-button-brand-hover-bg: var(--vp-c-green);


}



body {
    font-size: 17px;
    letter-spacing: -0.374px;
    line-height: 25.000032px;
}

em {
    font-style: italic;
}

blockquote > p {
    line-height: 1.651rem !important;
    font-size:1.15rem !important;
}

/*prevent sub sup to affect line height */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

/*pre > code {
    padding-left: 40px !important;
}*/

/*.line-numbers-mode{
    padding-left: 0px !important;
}
*/

.dark {
  --vp-c-brand: #FFFFFF;
  --vp-c-brand-light: #454545;
  --vp-button-alt-bg: hwb(0 89% 11%);
  --vp-c-text-1: var(--vp-c-text-dark-1);
}


h4 {
  margin-top:30px;
  margin-bottom:10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: var(--vp-font-family-mono);
}

h5 {
  margin-top:10px;
  margin-bottom:20px;
  padding-top: 24px;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #989898;
}

.VPHomeHero > div > div.main > h1 > span{
    background: #FF6442;
    background: -webkit-linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    background: -moz-linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    background: linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.VPHomeHero > div > div.main > p.text{
  font-size: 36px !important;
  line-height: 45px;
}

.VPHomeHero > div > div.main > p.tagline{
  font-size: 19.2px !important;
  line-height: 30px;
}

.VPImage {
  max-width: 400px !important;
}

#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.image > div > img
{
  padding-top: 50px;
}


.logo {
    margin-right: 20px;
    margin-left: -15px;
    height: 55px !important;
}


.uri {
  font-family: var(--vp-font-family-mono);
  font-size:0.95rem;
}

.table-of-contents {
  font-family: var(--vp-font-family-mono);
  font-size:0.9rem !important;
}


table.property-table > thead > tr > th {
  font-size: 14px;
  background-color: #858585f8;
  line-height: 10px;
  color: white;
}

table.property-table > tbody > tr > td {
  font-size: 14px;
  line-height: 20px;
}



.datatype{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 3px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:10px;
  margin-bottom:20px !important;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.wamp-procedure{
  background-color: rgba(102, 103, 171, 0.1) !important;
  border-color: RGB(102, 103, 171, 0.3) !important;
  border-left-color: rgba(102, 103, 171, 1.00) !important;
  border-left-style: solid;
  border-left-width: 3px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  text-transform: lowercase;
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:10px !important;
  margin-bottom:5px !important;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}


.wamp-topic{
  background-color: rgba(150, 198, 35, 0.1) !important;
  border-color: RGB(150, 198, 35, 0.3) !important;
  border-left-color: rgba(150, 198, 35, 1.00) !important;
  border-left-style: solid;
  border-left-width: 3px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  text-transform: lowercase;
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:20px;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.custom-block{
  font-size: 16px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.custom-block code {
  background-color: var(--vp-custom-block-info-code-bg);
  font-weight:400!important;
}

.custom-block.definition {
  border-color: rgba(23, 25, 22, 1.00);
  color: rgba(23, 25, 22, 1.00);
  background-color: rgba(180, 212, 238, 0.35)
}

.custom-block.definition code {
  background-color: var(--vp-custom-block-info-code-bg);
}

.custom-block.config-param{
  background-color: rgba(180, 212, 238, 0.3) !important;
  border-color: RGB(180, 212, 238, 0.4) !important;
  border-left-color: rgba(180, 212, 238, 1.00) !important;
  border-left-style: solid;
  border-left-width: 3px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  border-radius: 0px;
  display: inline-flex;
  justify-content: space-between;
  font-family: var(--vp-font-family-mono);
  font-size:0.95rem !important;
  font-weight:500!important;
  width:100%;
  margin-top:30px !important;
  margin-bottom:0px !important;
  min-width:320px;
  padding:0.5em;
  color:#323232f5;
}

.config-param-badge{
    display: inline-block;
    position: relative;
    font-family: var(--vp-font-family-mono) !important;
    font-size:12px !important;
    font-weight:500 !important;
    letter-spacing: 1px;
    height: 130%;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    text-transform: uppercase;
    background-color: rgba(180, 212, 238, 1.00) !important;
}

.config-param-meta{
  font-family: var(--vp-font-family-mono) !important;
  font-size:14px !important;
  font-weight:500 !important;
}

.since-version{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-family: var(--vp-font-family-mono) !important;
  font-size:14px !important;
  font-weight:500!important;
}

.custom-block.uri{
  background-color: rgba(102, 103, 171, 0.1) !important;
  border-color: RGB(102, 103, 171, 0.3) !important;
  border-left-color: rgba(102, 103, 171, 1.00) !important;
  border-left-style: solid;
  border-left-width: 3px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  border-radius: 0px;
  display: inline-flex;
  justify-content: space-between;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  width:100%;
  margin-top:30px !important;
  margin-bottom:0px !important;
  min-width:320px;
  padding:0.5em;
  width:49100%8px;
  color:#323232f5;
}


.custom-block.uri.public {
    background-color: rgba(102, 103, 171, 0.0);
    border-left-color: rgba(102, 103, 171, 0.8);
}

.custom-block.private {
    background-color: rgba(102, 103, 171, 0.0);
    border-left-color: rgba(102, 103, 171, 0.8);
}

.custom-block.uri > p{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    height: 24px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}
.custom-block.uri > span {
    border-style: solid;
    border-width: 0.0px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    height: 43px;
    line-height: 27px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    text-size-adjust: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-size-adjust: 100%;
}

.custom-block.public > span {
    border-color: rgba(61, 175, 123, 0.4);
}

.custom-block.private > span {
    border-color: rgba(218, 89, 96, 0.4);
}


.footnotes{
    font-size:14px;
}

/* ========================================================================== */
/* TABS
/* ========================================================================== */

.tabs-component {
    margin: 1.5em 0;
}

.tabs-component-tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: solid 1px #ddd;
    border-radius: 6px;
    margin-bottom: -1px !important;
}

.tabs-component-tab {
    border: solid 1px #ddd;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 0;
    list-style: none;
    background-color: var(--vp-c-gray-light-5);
}

.tabs-component-tab:not(:last-child) {
    border-bottom: dotted 1px #ddd;
}



.tabs-component-tab:hover {
}

.tabs-component-tab.is-active {
    color: #000;
    border-bottom: solid 1px #fff;
    background-color: inherit;
}

.tabs-component-tab.is-disabled * {
    color: #cdcdcd;
    cursor: not-allowed !important;
}

.tabs-component-tab-a {
    align-items: center;
    color: inherit;
    display: flex;
    padding: .75em 1em;
    text-decoration: none;
}

.tabs-component-panels {
    padding: 4em 0;
}




@media (max-width: 600px) {

   .VPHome .image-src{
    max-width: 50px;
    width: 250px;
    margin-top: 120px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 200px;
  }
}

@media (min-width: 700px) {
    .tabs-component-tabs {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border: 0;
        margin-bottom: -1px !important;
    }

    .tabs-component-tab {
        border-radius: 3px 3px 0 0;
        margin-right: .5em;
    }

    .tabs-component-tab.is-active {
        z-index: 2;
    }

    .tabs-component-panels {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 0 6px 6px 6px;
        box-shadow: none;
        padding: 4em 2em;
    }

    .tabs-component.code > .tabs-component-panels {
        background-color: RGB(42, 45, 62);
        border: none;
        border-radius: 0 6px 6px 6px;
        box-shadow: none;
        padding: 0em 0.0em;
    }
}

/* Buttons */

.sponsor {
  border-color: var(--vp-button-sponsor-border);
  color: var(--vp-button-sponsor-text);
  background-color: var(--vp-button-sponsor-bg);
}
.sponsor:hover {
  border-color: var(--vp-button-sponsor-hover-border);
  color: var(--vp-button-sponsor-hover-text);
  background-color: var(--vp-button-sponsor-hover-bg);
}
.sponsor:active {
  border-color: var(--vp-button-sponsor-active-border);
  color: var(--vp-button-sponsor-active-text);
  background-color: var(--vp-button-sponsor-active-bg);
}

.BondyButton {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}
.BondyButton:active {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}
.BondyButton.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

/* P is inserted by markdown-it-container when we use custom container 'button' */
.BondyButton.medium  p {
    display: block !important;
    margin: 5px !important;
    padding: 0px !important;
}

.BondyButton.big {
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
}

.BondyButton.big  p {
    display: block !important;
    margin: 5px !important;
    padding: 0px !important;
}

.BondyButton.brand {
  border-color: var(--vp-button-brand-border);
  color: var(--vp-button-brand-text);
  background-color: var(--vp-button-brand-bg);
}
.BondyButton.brand:hover {
  border-color: var(--vp-button-brand-hover-border);
  color: var(--vp-button-brand-hover-text);
  background-color: var(--vp-button-brand-hover-bg);
}
.BondyButton.brand:active {
  border-color: var(--vp-button-brand-active-border);
  color: var(--vp-button-brand-active-text);
  background-color: var(--vp-button-brand-active-bg);
}
.BondyButton.alt {
  border-color: var(--vp-button-alt-border);
  color: var(--vp-button-alt-text);
  background-color: var(--vp-button-alt-bg);
}
.BondyButton.alt:hover {
  border-color: var(--vp-button-alt-hover-border);
  color: var(--vp-button-alt-hover-text);
  background-color: var(--vp-button-alt-hover-bg);
}
.BondyButton.alt:active {
  border-color: var(--vp-button-alt-active-border);
  color: var(--vp-button-alt-active-text);
  background-color: var(--vp-button-alt-active-bg);
}
.BondyButton.sponsor {
  border-color: var(--vp-button-sponsor-border);
  color: var(--vp-button-sponsor-text);
  background-color: var(--vp-button-sponsor-bg);
}
.BondyButton.sponsor:hover {
  border-color: var(--vp-button-sponsor-hover-border);
  color: var(--vp-button-sponsor-hover-text);
  background-color: var(--vp-button-sponsor-hover-bg);
}
.BondyButton.sponsor:active {
  border-color: var(--vp-button-sponsor-active-border);
  color: var(--vp-button-sponsor-active-text);
  background-color: var(--vp-button-sponsor-active-bg);
}


/* CUSTOM CONTAINERS */

@media (min-width: 992px) {

    .column-wrapper {
        display: flex;
    }

    .column {
        flex: 1;
        max-width: 50%;
    }

    .column:first-child {
        margin-right: 20px;
    }

}

/* UTILS */

.watermark{
    /*transform: rotate(45deg);*/
    font-size: 40px;
    color:#ff6442;
    position:fixed;
    top: 9%;
    right:35%;
    opacity:1.0;
    z-index:1;
}


.text-gradient{
    background: #FF6442;
    background: -webkit-linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    background: -moz-linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    background: linear-gradient(to right, #FF6442 0%, #6667AB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Hide Theme toggle until we fix Dark Mode */
.VPNavBarAppearance{
    visibility: hidden;
}

/*Definition lists*/

dt {
    font-weight: bold;
    font-style: italic;
}