:root {
    --vp-c-brand: #000000;
    --vp-c-brand-light: #323232;
    --vp-c-text-1: #454545;
    --vp-button-alt-bg: hwb(0 89% 11%);
    --vp-c-bg-alt: #f9f9f9;
    --vp-c-text-code: rgb(30, 30, 30);
    /* --vp-font-family-base: 'Montserrat', sans-serif; */
    --vp-font-family-mono: 'SF Mono','Inconsolata','Menlo','Courier',monospace;
    --vp-code-font-size: 15px;
  }


.dark {
  --vp-c-brand: #FFFFFF;
  --vp-c-brand-light: #454545;
  --vp-button-alt-bg: hwb(0 89% 11%);
  --vp-c-text-1: #454545;
}

h4 {
  margin-top:30px;
  margin-bottom:10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: var(--vp-font-family-mono);
}

h5 {
  margin-top:10px;
  margin-bottom:20px;
  padding-top: 24px;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #989898;
}


.logo {
    margin-right: 20px;
    margin-left: -15px;
    height: 55px !important;
}



.datatype{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:20px;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.wamp-procedure{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:10px !important;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.wamp-topic{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:20px;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.config-param{
  background-color: RGB(201, 114, 228, 0.1) !important;
  border-color: RGB(201, 114, 228, 0.3) !important;
  border-left-color: RGB(201, 114, 228, 1) !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  display:inline-block;
  width:100%;
  margin-top:10px !important;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:49100%8px;
  color:#323232f5;
}

/*.config-param::after {
    content:"\a";
    white-space: pre;
}*/

.wamp-procedure-since{
  position:relative;
  top:-55px;
  left:93%;
  font-size:0.9rem !important;
}

.uri {
  font-family: var(--vp-font-family-mono);
  font-size:0.95rem;
}

.table-of-contents {
  font-family: var(--vp-font-family-mono);
  font-size:0.9rem !important;
}

.definition > p {
  /* color: #000000 !important; */
  /* font-style: italic; */
  font-size:1.2rem !important;
}

table.property-table > thead > tr > th {
  font-size: 14px;
  background-color: #858585f8;
  line-height: 10px;
  color: white;
}

table.property-table > tbody > tr > td {
  font-size: 14px;
  line-height: 20px;
}

.custom-block{
  font-size: 16px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

