:root {
    --vp-c-brand: #000000;
    --vp-c-brand-light: #323232;
    --vp-c-brand-lighter: #323232;
    --vp-c-text-1: #454545;
    --vp-c-text-dark-1: rgba(255, 255, 255, .87);
    --vp-button-alt-bg: hwb(0 89% 11%);
    /*--vp-c-bg-alt: #f9f9f9;*/
    --vp-c-text-code: rgb(30, 30, 30);
    /* --vp-font-family-base: 'Montserrat', sans-serif; */
    --vp-font-family-mono: 'SF Mono','Inconsolata','Menlo','Courier',monospace;
    --vp-code-font-size: 15px;
  }


.dark {
  --vp-c-brand: #FFFFFF;
  --vp-c-brand-light: #454545;
  --vp-button-alt-bg: hwb(0 89% 11%);
  --vp-c-text-1: var(--vp-c-text-dark-1);
}



h4 {
  margin-top:30px;
  margin-bottom:10px;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: var(--vp-font-family-mono);
}

h5 {
  margin-top:10px;
  margin-bottom:20px;
  padding-top: 24px;
  font-size: 13px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #989898;
}

.VPHomeHero > div > div.main > p.text{
  font-size: 36px !important;
  line-height: 45px;
}

.VPHomeHero > div > div.main > p.tagline{
  font-size: 19.2px !important;
  line-height: 30px;
}

.VPImage {
  max-width: 400px !important;
}

#VPContent > div > div.VPHero.has-image.VPHomeHero > div > div.image > div > img
{
  padding-top: 50px;
}


.logo {
    margin-right: 20px;
    margin-left: -15px;
    height: 55px !important;
}

.datatype{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:20px;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.wamp-procedure{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:10px !important;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.wamp-topic{
  background-color:#f1f1f1;
  border-left-color: #727272 !important;
  border-left-style: solid;
  border-left-width: 2px !important;
  border:1px solid hsla(0,0%,46.3%,.3);
  display:inline-block;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  margin-top:20px;
  margin-bottom:20px;
  min-width:320px;
  padding:0.5em;
  width:100%;
  width:49100%8px;
  color:#323232f5;
}

.uri {
  font-family: var(--vp-font-family-mono);
  font-size:0.95rem;
}

.table-of-contents {
  font-family: var(--vp-font-family-mono);
  font-size:0.9rem !important;
}

.definition > p {
  /* color: #000000 !important; */
  /* font-style: italic; */
  font-size:1.2rem !important;
}

table.property-table > thead > tr > th {
  font-size: 14px;
  background-color: #858585f8;
  line-height: 10px;
  color: white;
}

table.property-table > tbody > tr > td {
  font-size: 14px;
  line-height: 20px;
}

.custom-block{
  font-size: 16px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.custom-block.uri {
    border-left-style: solid;
    border-left-width: 3px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: "SF Mono", Inconsolata, Menlo, Courier, monospace;
    height: 43px;
    width: 100%;
    line-height: 27px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 32px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 16px;
    padding-top: 0px;
    position: relative;
    text-size-adjust: 100%;
}

.custom-block.uri.public {
    background-color: rgba(61, 175, 123, 0.0);
    border-left-color: rgba(61, 175, 123, 0.8);
}

.custom-block.private {
    background-color: rgba(218, 89, 96, 0.0);
    border-left-color: rgba(218, 89, 96, 0.8);
}

.custom-block.uri > p{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    height: 24px;
    line-height: 24px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-wrap: break-word;
    text-size-adjust: 100%;
}
.custom-block.uri > span {
    border-style: solid;
    border-width: 0.0px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    height: 43px;
    line-height: 27px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    text-size-adjust: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-size-adjust: 100%;
}

.custom-block.public > span {
    border-color: rgba(61, 175, 123, 0.4);
}

.custom-block.private > span {
    border-color: rgba(218, 89, 96, 0.4);
}

.custom-block.config-param{
  background-color: RGB(201, 114, 228, 0.1) !important;
  border-color: RGB(201, 114, 228, 0.3) !important;
  border-left-color: RGB(201, 114, 228, 1) !important;
  border-left-style: solid;
  border-left-width: 5px !important;
  border:1px solid rgba(147, 147, 147, 0.3);
  border-radius: 0px;
  display: inline-flex;
  justify-content: space-between;
  font-family: var(--vp-font-family-mono);
  font-size:1.0rem !important;
  font-weight:500!important;
  width:100%;
  margin-top:30px !important;
  margin-bottom:0px !important;
  min-width:320px;
  padding:0.5em;
  width:49100%8px;
  color:#323232f5;
}

.custom-block.config-param > .meta{
  font-family: var(--vp-font-family-mono) !important;
  font-size:14px !important;
  font-weight:500 !important;
}

.since-version{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  font-family: var(--vp-font-family-mono) !important;
  font-size:14px !important;
  font-weight:500!important;
}



.footnotes{
    font-size:14px;
}

/* ========================================================================== */
/* TABS
/* ========================================================================== */

.tabs-component {
    margin: 4em 0;
}

.tabs-component-tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: solid 1px #ddd;
    border-radius: 6px;
    margin-bottom: -1px !important;
}

.tabs-component-tab {
    border: solid 1px #ddd;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 0;
    list-style: none;
    background-color: var(--vp-c-gray-light-5);
}

.tabs-component-tab:not(:last-child) {
    border-bottom: dotted 1px #ddd;
}



.tabs-component-tab:hover {
}

.tabs-component-tab.is-active {
    color: #000;
    border-bottom: solid 1px #fff;
    background-color: inherit;
}

.tabs-component-tab.is-disabled * {
    color: #cdcdcd;
    cursor: not-allowed !important;
}

.tabs-component-tab-a {
    align-items: center;
    color: inherit;
    display: flex;
    padding: .75em 1em;
    text-decoration: none;
}

.tabs-component-panels {
    padding: 4em 0;
}


/* Overrides for code tabs */

.tabs-component.code > .tabs-component-panels .line-numbers-mode {
  margin-bottom: 0px;
}

.tabs-component.code > .tabs-component-tabs{
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: solid 0.5px #3E3F49;
}

.tabs-component.code > .tabs-component-panels {
    margin-top: -15px;
}

.tabs-component.code{
    color: white;
    border: solid 1px RGB(42, 45, 62);
    border-radius: 10px;
    background-color: RGB(42, 45, 62);
}


.tabs-component.code > ul > li.tabs-component-tab.is-active {
    border-bottom: solid 0px RGB(42, 45, 62);
    align-items: center;
    color: white;
    display: flex;
    text-decoration: none;
}

.tabs-component.code > ul > li.tabs-component-tab{
    color: #ddd;
    background-color: RGB(42, 45, 62);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: solid 1px RGB(42, 45, 62);
    border-radius: 6px;

}

.tabs-component.code > ul > li.tabs-component-tab.is-active > a{
    color: #ddd;
    background-color: RGB(42, 45, 62);
    padding: 2px 2px 2px 2px;
}

.tabs-component.code > ul > li.tabs-component-tab > a{
    color: #aaa;
    background-color: RGB(42, 45, 62);
    padding: 2px 2px 2px 2px;
}



@media (min-width: 700px) {
    .tabs-component-tabs {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        border: 0;
        margin-bottom: -1px !important;
    }

    .tabs-component-tab {
        border-radius: 3px 3px 0 0;
        margin-right: .5em;
    }

    .tabs-component-tab.is-active {
        z-index: 2;
    }

    .tabs-component-panels {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 0 6px 6px 6px;
        box-shadow: none;
        padding: 4em 2em;
    }

    .tabs-component.code > .tabs-component-panels {
        background-color: RGB(42, 45, 62);
        border: none;
        border-radius: 0 6px 6px 6px;
        box-shadow: none;
        padding: 0em 0.0em;
    }
}

